*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma;
}
.container{

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.header{
    background-color: rgb(28, 26, 48);
    transform: rotate(-90deg);
    width: 100vh;
    position: fixed;
    left: 0;
    margin-left: -19.5vw;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}
.header ul{
    display: flex;
    list-style: none;
}
.header ul li{
    padding: 0.7rem 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 10px 10px 0px 0px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
.header ul li:hover{
    background-color:gray;
    transform: scale(1.1);
}
.header h1{
    transform: rotate(90deg);
    background-color: rgb(168, 98, 98);   
    width: 5vw;
    height: 5vw;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}


.social{

    margin-left: 6vw;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}
.social .grid{
    margin:1rem ;
    padding:1rem ;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
    color: white;
}
.social .grid:hover{
background-color:rgb(168, 98, 98) ;
color: rgb(51, 49, 72);
transform: scale(1.1);
}



.follow{
    padding: 1rem;
    margin-left: 6vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.follow p{
    padding-left: 1rem;
}



.content{
    margin-left: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 10px;
    color: white;
}
.content img{
    width: 40vw;
}
.desc h1{
    font-weight: 100;
    font-size: 3rem;
    margin: 1rem 0rem;
}
.desc h5{
    font-weight: 900;
    font-size: 1em;
    margin: 0.5rem 0rem;
}
.desc p{
    font-weight: 100;
    font-size: 0.8em;
}
.desc button{
    padding: 0.8rem 2rem;
    margin:1rem 0rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(28, 26, 48);
    color: rgb(160, 158, 177);
    font-size: 1em;
    transition: ease-in-out 0.5s;
}
.desc button:hover{
    transform: scale(1.1);
    background-color: rgb(51, 49, 72);
    border: 1px solid rgb(160, 158, 177);
}
a{
    text-decoration: none;
    color: inherit;
}
.content{
    display: flex;
    flex-direction: column;
}
.content .grid-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .grid-flex img{
    width:25%;
    transform: scale(0.8);
}
.service span{
    background-color: rgb(28, 26, 48);
    width: 5vw;
    height: 5vw;
    border-bottom: 1px solid rgb(28, 26, 48);
}
.holder{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    width: 80vw;
}
.card{
    background-color: rgb(168, 98, 98);
    padding: 1rem;
    border-radius: 10px;
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card img{
width: 70%;
}
.service button{
    padding: 0.8rem 2rem;
    margin: 1rem 0rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(168, 98, 98); 
    width: 15rem; 
    height: 5rem;
}
.study{
    font-family: Lucida San;
    padding: 0.8rem 2rem;
    margin: 1rem 0rem;
    cursor: pointer;
}
.study:hover{
    transition:ease-in-out 0.5s;
    transform:scale(1.1);
}